
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html, body {
  height: 100%;
}

body {
  background: url('/images/bg.png');
  margin: 0;
  padding: 0;
  font: 400 16px/26px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fbfbfb;
}

.wrapper {
  position: relative;
  top: 25%;
  background-color: #444;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  box-shadow: 0px 0px 8px 0px #111;
  -webkit-box-shadow: 0px 0px 8px 0px #111;
}

.content {
  padding: 40px;
}

strong {
  color: #fbfbfb;
}

.center {
  text-align: center;
}

.headshot {
  margin-top: 20px;
  width: 120px;
  border: 1px solid #222;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  background-clip: padding-box;
}

.links a {
  color: #39afcd;
  text-decoration: none;
  padding: 4px 0;
}

.links a:hover {
  border-bottom: 1px solid #39afcd;
}

.divider {
  padding: 0 8px;
}
